.card {
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  flex-basis: 29%;
}

.card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: darkgreen;
}

.card:active {
  background-color: yellowgreen;
}

#container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  /* flex-basis: 33.33333%; */
}
