.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  width: 910px;
}

.prompt {
  text-align: center;
  font-size: 28px;
  color: #282c34;
}

.buttonContainer {
  display: flex;
  width: 100%s;
  justify-content: center;
}
.btn {
  font: inherit;
  display: inline-block;
  color: white;
  background-color: #e06666;
  text-align: center;
  justify-content: center;
  border: none;
  font-size: 28px;
  border-radius: 10px;
  padding: 10px;
}

.container-width-parent {
  width: 100%;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-image {
  width: 250px;
  height: 250px;
}
