* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

html {
  font-size: 10px;
}

/* body{
    background-size: auto;
  } */

#navBar {
  width: 100%;
  height: 8rem;
  display: flex;
  background-color: rgb(255, 255, 255);
  align-items: center;
}

#homeButtonContainer {
  display: flex;
  align-items: center;
}

#logoText {
  font-weight: 600;
  margin-left: 1.5rem;
}

#logo {
  height: 5rem;
  width: 5rem;
  margin-left: 2rem;
}

#mainDesc {
  font-size: 5rem;
  padding-top: 5rem;
  padding-left: 5rem;
  font-weight: 400;
}

#shortDesc {
  font-size: 3rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

#getStarted {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-left: 9rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: red;
  color: white;
}
.container-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#getStarted:hover {
  transition: 0.1s;
  background-color: rgb(188, 0, 0);
  cursor: pointer;
}

.frontPic:hover {
  transition: 0.3s;
  transform: translate3D(0, -1px, 0) scale(1.03);
}

.frontPic {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  border-radius: 18px;
  width: 30rem;
  object-fit: cover;
}

#front1 {
  margin-top: 3rem;
  z-index: 1;
  top: 0;
  left: 8rem;
  width: 22rem;
  height: 30rem;
}

.btn-block {
  display: block;
}

.button {
  width: 20rem;
  height: 5rem;
  font-size: 2rem;
  font-weight: 500;
  margin-top: 5rem;
  margin-left: 9rem;
  padding: 1rem;
  border-radius: 0.8rem;
  border: none;
  background-color: red;
  color: white;
}
.button:hover {
  transition: 0.1s;
  background-color: #db4d4d;
  cursor: pointer;
}

#front2 {
  margin-top: 10rem;
  z-index: 2;
  top: 5rem;
  left: 26rem;
}

#front3 {
  margin-top: 10rem;
  z-index: 3;
  top: 30rem;
  left: 4rem;
  height: 22rem;
}
#picWrapper {
  position: relative;
}
